[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
streamlit = "*"
pytube = "*"
black = "*"
python-dotenv = "*"
certifi = "*"
validators = "*"

[dev-packages]

[requires]
python_version = "3.9"
